body{
  background-image: url("../images/user_display/background_table.jpg"); 
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

a:hover{
  color: #000000;
  text-decoration: none;
}

#start-screen{
  width:100%; 
  height:100%; 
  display: flex; 
  align-items: center; 
  position:absolute; 
  z-index:10;
  background-color: rgba(128,128,128,0.5);
}

#waitting-screen{
  width:100%; 
  height:100%; 
  display: none; 
  align-items: center; 
  position:absolute; 
  z-index:10;
  font-weight: 700;
  margin: auto;
  padding: 300px 0px 0px 0px;
  background-color: rgba(128,128,128,0.5);
}


.waitting{
  text-align: center;
  width: 100%; 
  font-size: xx-large;
}

.alert{
  text-align: center;
  width: 100%; 
  font-size: xx-large;
}

#not_entry{
  width:100%; 
  height:100%; 
  display: none; 
  align-items: center; 
  position:absolute; 
  z-index:10;
  padding: 350px 0px 0px 0px;
  background-color:rgba(128,128,128,0.5);
}

#alert_turn{
  width:100%; 
  height:100%; 
  display: none; 
  align-items: center; 
  position:absolute; 
  z-index:10;
  padding: 350px 0px 0px 0px;
  background-color:rgba(128,128,128,0.5);
}

#Over{
  list-style: none;
  display: block;
  margin: auto;
}

#loser-screen{
  width:100%; 
  height:100%; 
  display: none; 
  align-items: center; 
  position:absolute; 
  z-index:10;
  background-color:rgba(128,128,128,0.5);
}

#winer-screen{
  width:100%; 
  height:100%; 
  display: none; 
  align-items: center; 
  position:absolute; 
  z-index:10;
  background-color:rgba(128,128,128,0.5);
}

#winer{
  list-style: none;
  display: block;
  margin: auto;
  padding: 300px 0px 0px 0px;
}

#loser{
  display: table;
  margin: auto;
}

.loser_cell{
  display: table-cell;
  vertical-align: middle;
  padding: 400px 0px 0px 0px;
}

#before_num{
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto;
  text-align:center;
  position: absolute;
  height:40%;
}

#Start-screen-button{
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto;
  text-align:center;
  position: absolute;
  width:20%;
  height:40%;
}

#operation{
  width:40%;
  height:40%;
  color: red;
  font-weight: 900;
  font-size: 30px;
}

#user_table{
  display:table;
}

.user_table_cell{
  position: absolute;
  bottom: 0px;
  display:table-cell;
}

.user_table_cell.UI{
  right: 0px;
  margin: 0px;
  padding:0px 0px 0px 460px; 
}

.operation-cell{
  display:inline-block;
  margin: 0px 0px 50px 0px;
  border: 0px;
  padding: 0px 6px 0px 6px;
  background-color: rgb(0, 68, 255);
  color: white;
}