.album.py-5.bg-light{
    background-image: url(../images/wood_texture.png);
    background-size:cover;
}

.text-muted{
    background-color: #343a40;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}